---
description: Verificação de email - Documentação da Marketo - Documentação do produto
title: Verificação de email
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 95aa6cdcede973e86757b4d9c758e2c7eb4bd5e6
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# Verificação de email {#email-verification}

As assinaturas do Adobe Marketo Engage exigem que todos os usuários que não usam API somente verifiquem seu endereço de email. Os usuários de Logon único (SSO) terão seu email verificado automaticamente quando sua assinatura for habilitada com a Verificação de email.

**Convite de usuário**

Quando um Administrador convida um usuário, ele é verificado automaticamente assim que ele clicar no link do convite. Os usuários com SSO são verificados automaticamente.

**Alterar um endereço de email**

Quando o endereço de email de um usuário é alterado, ele se torna não verificado. Um email será enviado para eles permitindo a verificação novamente. Os administradores podem reenviar manualmente esse email clicando em **Reenviar verificação**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Usuários e funções**

Em Admin > Usuários e funções, a coluna Status de email mostra o status de verificação de cada usuário.

![](assets/email-verification-3.png)

Para verificar um usuário não verificado, basta selecionar seu registro e clicar no botão **Verificar Email** botão.
