---
description: Verificação de email - Documentação da Marketo - Documentação do produto
title: Verificação de email
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: e76a79927666cf4b197b8acd2e60a3756cc6f2b0
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verificação de email {#email-verification}

As assinaturas do Adobe Marketo Engage exigem que todos os usuários que não usam API somente verifiquem seu endereço de email. Os usuários de Logon único (SSO) terão seu email verificado automaticamente quando sua assinatura for habilitada com a Verificação de email.

**Convite de usuário**

Quando um Administrador convida um usuário, ele é verificado automaticamente assim que ele clicar no link do convite. Os usuários com SSO são verificados automaticamente.

**Alterar um endereço de email**

Quando o endereço de email de um usuário é alterado, ele se torna não verificado. Um email será enviado para eles permitindo a verificação novamente. Os usuários podem reenviar manualmente esse email clicando em **Reenviar verificação**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Usuários e funções**

Em Admin > Usuários e funções, a coluna Status de email mostra o status de verificação de cada usuário.

![](assets/email-verification-3.png)

Para reenviar um email de verificação para um usuário não verificado, basta selecionar o registro e clicar no botão **Verificar Email** botão.
