---
description: Verificação de email - Documentação do Marketo - Documentação do produto
title: Verificação de email
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verificação de email {#email-verification}

As assinaturas do Adobe Marketo Engage exigem que todos os usuários que não sejam somente a API verifiquem seus endereços de email. Os usuários de Logon único (SSO) terão seu email verificado automaticamente quando sua assinatura for habilitada com a Verificação de email.

**Convite de usuário**

Quando um Administrador convida um usuário, ele é automaticamente verificado depois que clica no link de convite. Os usuários com SSO são verificados automaticamente.

**Alteração de um endereço de email**

Quando o endereço de email de um usuário é alterado, ele não é verificado. Um email será enviado a eles, permitindo que eles verifiquem novamente. Os usuários podem reenviar manualmente esse email clicando em **Reenviar verificação**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Usuários e funções**

Em Admin > Usuários e funções, a coluna Status do email mostra o status de verificação de cada usuário.

![](assets/email-verification-3.png)

Para reenviar um email de verificação a um usuário não verificado, basta selecionar o registro e clicar no link **Verificar email** botão.
