---
description: Verificação de email - Documentação da Marketo - Documentação do produto
title: Verificação de email
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# Verificação de email {#email-verification}
