---
description: Verificação de email - Documentação da Marketo - Documentação do produto
title: Verificação de email
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verificação de email {#email-verification}

Eu acho que você disse que faremos apenas uma nova página que cubra a verificação de email para usuários

Convite de usuário Quando um administrador convida um usuário, nenhuma alteração na interface ou na experiência do usuário Quando o usuário clica no link de convite, seu email é verificado automaticamente. Os usuários com SSO são verificados automaticamente

A tela da conta do usuário mostra o endereço de email como verificado Quando o endereço de email é atualizado, a interface do usuário reflete que o email da conta não foi verificado e o email é enviado (consulte o email anexado)

Admin - Página Usuários e funções Nova coluna mostrando o status de Verificação de um botão Novo do usuário para acionar a verificação de email para o usuário novamente

MyMarketo Quando um usuário com email não verificado faz logon, ele deve ver um banner na página Meu Marketo (SOMENTE).
